@using Rocky_Utility
@model List<Product>

@if (Model.Count() > 0)
{
    <form method="post">
        <div class="container pt-4" style="background-color:white;">
            <!--Card-->

            <div class="card" style="border:1px solid #222">
                <div class="card-header bg-dark text-light m-lg-0 row container" style="border-radius:0px;">
                    <div class="col-12 col-md-6 text-start mt-1">
                        <i class="fa-solid fa-cart-shopping"></i> &nbsp; Shopping Cart
                    </div>
                    <div class="col-12 col-md-6 text-end">
                        <a asp-action="Clear" class="btn btn-outline-warning btn-sm text-white">Clear Cart</a>
                        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary btn-sm text-white">Continue Shopping</a>
                    </div>
                </div>

                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row" style="color:#821f3d">
                            <div class="col-lg-1">
                            </div>
                            @*                            @if (User.IsInRole(WC.AdminRole))
                        {*@
                            <div class="col-lg-4">
                                Product Details
                            </div>
                            @*                            }
                        else
                        {
                        <div class="col-lg-7">
                        Product Details
                        </div>
                        }*@
                            <div class="col-lg-2 text-center">
                                Price per sqft
                            </div>
                            @*                            @if (User.IsInRole(WC.AdminRole))
                        {*@
                            <div class="col-6 col-lg-2 text-center">
                                Sqft
                            </div>
                            <div class="col-6 col-lg-2 text-center">
                                Total Price
                            </div>
                            @*                            }*@
                            <div class="col-lg-1 text-center">
                            </div>
                        </div>
                        <hr />
                        @{
                            var orderTotal = 0.0;
                        }
                        @for (int i = 0; i < @Model.Count(); i++)
                        {
                            <input asp-for="@Model[i].Id" hidden>
                            <div class="row h-100">
                                <div class="col-lg-2 text-center py-2">
                                    <img src="@WC.ImagePath@Model[i].Image" class="rounded" style="width:100%;" />
                                </div>
                                @*                                @if (User.IsInRole(WC.AdminRole))
                        {*@
                                <div class="col-lg-3 pt-5">
                                    <h5>@Model[i].Name</h5>
                                    <div style="font-size:11px;">@Model[i].ShortDesc</div>
                                </div>
                                @*                                }
                        else
                        {
                        <div class="col-lg-7 pt-5">
                        <h5>@Model[i].Name</h5>
                        <div style="font-size:11px;">@Model[i].ShortDesc</div>
                        </div>
                        }*@

                                <div class="col-lg-2  pt-5  text-center" style="font-size:11px;">
                                    <span style="font-size:17px;"> @string.Format("{0:c0}",Model[i].Price)</span>/ sqft
                                </div>
                                @*                                @if (User.IsInRole(WC.AdminRole))
                        {*@
                                <div class="col-lg-2  pt-5" style="font-size:11px;">
                                    <input type="number" asp-for="@Model[i].TempSqFt" class="form-control">
                                     <span asp-validation-for="@Model[i].TempSqFt" class="text-danger"></span>
                                </div>
                                <div class="col-lg-2 pt-5 text-center" style="font-size:11px;">
                                    <span style="font-size:17px;"> @string.Format("{0:c0}",Model[i].Price*Model[i].TempSqFt)</span>
                                </div>
                                @*                                }*@
                                <div class="col-lg-1 pt-5 text-center">
                                    <a asp-action="Remove" asp-route-id="@Model[i].Id" class="btn btn-outline-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                            orderTotal += Model[i].Price * Model[i].TempSqFt;
                            <hr />
                        }
                        @*                        @if (User.IsInRole(WC.AdminRole))
                    {*@
                        <div class="row">
                            <div class="col-12 text-end pe-4" style="color:#821f3d">
                                Order Total: @string.Format("{0:c0}",orderTotal)
                            </div>
                        </div>
                        @*                        }*@
                    </div>
                </div>
                <div class="card-footer bg-dark">
                    <div class="row justify-content-end">
                        @*                        <div class="offset-6 col-3 text-end">*@

                        @*                            @if (User.IsInRole(WC.AdminRole))
                    {*@
                        <button type="submit" asp-action="UpdateCart" formmethod="post" name="Update" class="btn btn-outline-primary form-control text-white" style="height:50px;width:200px;">Update cart</button>
                        @*                            }*@
                        @*                        </div>
                    <div class="col-3 text-center ">*@
                        <button type="submit" class="btn btn-outline-primary form-control text-white ms-3" style="height:50px;width:200px;">Continue</button>
                        @*                            </div>*@
                    </div>
                </div>
            </div>
        </div>

    </form>
}
else
{
    <p class="text-center">No items in your cart. Please add items to cart.</p>
}

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}