@using Rocky_Utility
@model Rocky_Models.ViewModels.ProductUserVM

<form method="post" id="payment-form">
    <br />
    <div class="container">
        <!--Card-->

        <div class="card" style="border:1px solid #222">
            <div class="card-header bg-dark text-light m-lg-0 row container" style="border-radius:0px;">
                <div class="col-6 col-md-6 text-start mt-1">
                    <i class="fa-solid fa-cart-shopping"></i> &nbsp; Order Summary
                </div>
                <div class="col-6 col-md-6 text-end">
                    <a asp-action="Index" class="btn btn-outline-primary btn-sm text-white">Back to Cart</a>
                </div>
            </div>

            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">User Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Name</label>
                                </div>
                                @*                                @if(User.IsInRole(WC.AdminRole))
                                {*@
                                <div class="col-9">
                                    <input type="text" id="fullName" class="form-control" asp-for="ApplicationUser.FullName" />
                                    <span asp-validation-for="ApplicationUser.FullName" class="text-danger"></span>
                                </div>
                                @*                                }
                                else
                                {
                                <div class="col-10">
                                <input type="text" class="form-control" asp-for="ApplicationUser.FullName" />
                                <span asp-validation-for="ApplicationUser.FullName" class="text-danger"></span>
                                </div>
                                }*@

                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Phone</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="phoneNumber" class="form-control" asp-for="ApplicationUser.PhoneNumber" />
                                    <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Email</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="email" class="form-control" asp-for="ApplicationUser.Email" />
                                    <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Street address</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="street" class="form-control" asp-for="ApplicationUser.StreetAddress" required />
                                    <span asp-validation-for="ApplicationUser.StreetAddress" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>City</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="city" class="form-control" asp-for="ApplicationUser.City" required />
                                    <span asp-validation-for="ApplicationUser.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>State</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="state" class="form-control" asp-for="ApplicationUser.State" required />
                                    <span asp-validation-for="ApplicationUser.State" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Postal code</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="postalCode" class="form-control" asp-for="ApplicationUser.PostalCode" required />
                                    <span asp-validation-for="ApplicationUser.PostalCode" class="text-danger"></span>
                                </div>
                            </div>




                        </div>
                        <div class="col-6 row">
                            <div class="col-12">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">Order Summary:</span>
                                </h4>
                                <ul class="list-group mb-3">
                                    @{
                                        var orderTotal = 0.0;
                                    }
                                    @for (var i = 0; i < Model.ProductList.Count(); i++)
                                    {
                                        <input hidden asp-for="@Model.ProductList[i].Id" />
                                        <input hidden asp-for="@Model.ProductList[i].Name" />
                                        <input hidden asp-for="@Model.ProductList[i].TempSqFt" />
                                        <input hidden asp-for="@Model.ProductList[i].Price" />
                                        <li class="list-group-item d-flex justify-content-between">
                                            <div>
                                                <h6 class="my-0">@Model.ProductList[i].Name</h6>
                                                @*<small class="text-muted">Price per Sqft: @string.Format("{0:c0}",@Model.ProductList[i].Price)</small>*@
                                                <small class="text-muted">Price: @Model.ProductList[i].TempSqFt x $@Model.ProductList[i].Price = @string.Format("{0:c0}",@Model.ProductList[i].Price * @Model.ProductList[i].TempSqFt)</small>
                                            </div>
                                        </li>
                                        orderTotal += Model.ProductList[i].Price * Model.ProductList[i].TempSqFt;
                                    }
                                    <li class="list-group-item d-flex justify-content-between  bg-black bg-opacity-25">
                                        <div class="col-12 text-end">
                                            <strong>Order Total: @string.Format("{0:c0}",orderTotal)</strong>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                            <div class="col-12">
                                <div class="flex-lg-wrap">
                                    <div class="container">
                                        <div id="dropin-container"></div>
                                        <input type="hidden" id="nonce" name="payment_method_nonce" />
                                    </div>
                                </div>
                            </div>

                            @* <div id="dropin-container"></div>
                            <input type="hidden" id="nonce" name="payment_method_nonce"/>*@
                        </div>
                    </div>
                    @*<div class="row">
                    <div class="col-12 text-end pe-4" style="color:#821f3d">
                    Order Total: @string.Format("{0:c0}",orderTotal)
                    </div>
                    </div>*@
                </div>
            </div>

            <div class="card-footer bg-dark">
                <div class="row">
                    <div class="text-end">
                        @*                        @if (User.IsInRole(WC.AdminRole))
                        {*@
                        <button type="submit" id="submitOrder" class="btn btn-outline-success text-white form-control" style="height:50px;width:200px;" onclick="return validateInput()" >Submit Order</button>
                        @*                        }
                        else
                        {
                        <button type="submit" class="btn btn-outline-primary text-white form-control" style="height:50px;width:200px;">Submit Inquiry</button>
                        }*@

                    </div>
                </div>
            </div>

        </div>

    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://js.braintreegateway.com/web/dropin/1.33.2/js/dropin.min.js"></script>

    <script type="text/javascript">

        var client_token = "@ViewBag.ClientToken";
        var form = document.querySelector('#payment-form');

        function validateInput() {
            if (document.getElementById("fullName").value == "" ||
                document.getElementById("phoneNumber").value == "" ||
                document.getElementById("email").value == "" ||
                document.getElementById("street").value == "" ||
                document.getElementById("city").value == "" ||
                document.getElementById("state").value == "" ||
                document.getElementById("postalCode").value == "") {
                Swal.fire(
                    'Error !',
                    'User details fields are mandatory !',
                    'error'
                )
                return false;
            }
            else {
                return true;
            }
        }

        //   that functions as a query selector such as `#dropin-container`)

            braintree.dropin.create(
                {
                    authorization: client_token,
                    container: document.getElementById('dropin-container'),
                    // ...plus remaining configuration
                },
                (error, dropinInstance) => {
                    form.addEventListener('submit', function() {
                        event.preventDefault();
                        //Add the nonce to the form and submit
                        dropinInstance.requestPaymentMethod(function(err, payload) {
                            if (error) console.error(error);
                            // Submit payload.nonce to your server
                            document.querySelector('#nonce').value = payload.nonce;
                            form.submit();

                        });
                    });
                });





    </script>
}